{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block styles %}


{% endblock %}

{% block body %}
<div class="container">
    <div class="mt280_ml190" style="text-align: center; margin-top: 25%;">
        <h1>Выберите группу</h1>
        <form  method="post">
            <a href="/students/MT-101" type="button" class="btn btn-outline-info">МТ-101</a>
            <a href="/students/MT-102" type="button" class="btn btn-outline-info">МТ-102</a>
            <a href="/students/MP-101" type="button" class="btn btn-outline-info">МП-101</a>
            <a href="/students/MP-102" type="button" class="btn btn-outline-info">МП-102</a>
            <a href="/students/MN-101" type="button" class="btn btn-outline-info">МН-101</a>
            <a href="/students/MN-102" type="button" class="btn btn-outline-info">МН-102</a>
            <a href="/students/MK-101" type="button" class="btn btn-outline-info">МК-101</a>
            <a href="/students/MK-102" type="button" class="btn btn-outline-info">МК-102</a>
        </form>
    </div>
</div>
{% endblock %}
