{% extends 'base.html.twig' %}
{% block title %}Приказ{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div style="font-family: firefly, DejaVu Sans, sans-serif;">
        <div style="margin-left: 70%;">
            <p style=" font-size: 10px">тут должна была быть
                верска {{ title }}</p>
            <p style=" font-size: 10px"> но </p>
            <p style=" font-size: 10px"> её </p>
            <p style=" font-size: 10px"> нет </p>
        </div>
        <div style="margin-left: 15%; margin-top: 25%">
            <strong style=" font-size: 20px;">Приказ на _____</strong>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<!-- style="font-family: firefly, DejaVu Sans, sans-serif;" -->
{% endblock %}