{% extends 'base.html.twig' %}
{% block title %}Приказ на отчисление{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div style="font-family: firefly, DejaVu Sans, sans-serif;">
        <div style="margin-left: 10%;text-align: center; margin-right: 10%">
            <p>МИНОБРНАУКИ РОССИИ<br/>Федеральное государственное бюджетное образовательное учреждение высшего образования <strong>«Челябинский государственный университет» (ФГБОУ ВО «ЧелГУ»)</strong>
                <br/><br/><span style="font-size: 25px;">П Р И К А З</span></p>
        </div>
        <div>
            <span style="margin-left: 7%; width: 15px;">
                дата 02.07.2022
            </span>
            <span style="margin-left: 55%;">№ 1543-5</span>
        </div>
        <div style="margin-left: 15%; margin-top: 10%">
            <span>По личному составу студентов</span><br/><br/> &nbsp;&nbsp;&nbsp; В связи с получением образования (завершением обучения, успешным прохождением итоговых государственных аттестационных испытаний)
            <br/>ПРИКАЗЫВАЮ:<br/><br/>
            1. Отчислить из университета с 13.07.2022 студента ФИО математического факультета, группы __,
            обучавшегося по основной профессиональной образовательной программе высшего образования
            в соответствии с приложением (приложение на ____л.).
            <br/>
            2. Декану математического факультета Сбродовой Е.А. обеспечитьсвоевременную подготовку документов для
            оформления дипломов иприложений к ним.
            <br/>
            3. Контроль за исполнением приказа возложить на проректора по учебнойработе Нефедову Л.А.

            <br/><br/><br/><br/>И.о. ректора А.Ю. Петров
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- style="font-family: firefly, DejaVu Sans, sans-serif;" -->
{% endblock %}