{% extends 'base.html.twig' %}
{% block title %}Приказ{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
<div>
    <p style="font-family: firefly, DejaVu Sans, sans-serif;">тут будет верска приказа {{ title }}</p>
    <div style="background-color: red; width: 150px; height: 150px;">

    </div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}