{% extends 'base.html.twig' %}
{% block title %}Приказ на отчисление{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div style="font-family: firefly, DejaVu Sans, sans-serif;">
        <div style="margin-left: 10%;text-align: center; margin-right: 10%">
            <p>МИНОБРНАУКИ РОССИИ<br/>Федеральное государственное бюджетное образовательное учреждение высшего образования <strong>«Челябинский государственный университет» (ФГБОУ ВО «ЧелГУ»)</strong>
                <br/><br/><span style="font-size: 25px;">П Р И К А З</span></p>
        </div>
        <div>
            <span style="margin-left: 7%; width: 15px;">
                дата 02.07.2022
            </span>
            <span style="margin-left: 55%;">№ 1543-5</span>
        </div>
        <div style="margin-left: 15%; margin-top: 10%">
            <span>О назначении государственных </span><br/> <span>академических стипендий</span> <br/><br/> &nbsp;&nbsp;&nbsp; На основании «Положения о стипендиальном обеспечении и других формах социальной поддержки обучающихся ФГБОУ ВО «ЧелГУ», утвержденного решением Ученого Совета от 25.01.2022, решения стипендиальной комиссии математического факультета (протокол № 13 от 08.02.2022)
            <br/>ПРИКАЗЫВАЮ:<br/> <br/>
            1. Назначить с 01.02.2022 г. по 31.07.2022 г. государственную академическую стипендию студенту математического факультета:
            <br/> ТУТ ДОЛЖНЫ БЫТЬ ФИО И ГРУППА
            <br/>
            2. Контроль за исполнением приказа оставляю за собой.
            <br/>


            <br/><br/><br/><br/>Советник при ректорате&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Д.С. Батаев
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- style="font-family: firefly, DejaVu Sans, sans-serif;" -->
{% endblock %}