{% extends 'base.html.twig' %}
{% block title %}Приказ на зачисление{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div style="font-family: firefly, DejaVu Sans, sans-serif;">
        <div style="margin-left: 10%;text-align: center; margin-right: 10%">
            <p>МИНОБРНАУКИ РОССИИ<br/>Федеральное государственное бюджетное образовательное учреждение высшего образования <strong>«Челябинский государственный университет» (ФГБОУ ВО «ЧелГУ»)</strong>
                <br/><br/><span style="font-size: 25px;">П Р И К А З</span></p>
        </div>
        <div>
            <span style="margin-left: 7%; width: 15px;">
                дата 02.07.2022
            </span>
            <span style="margin-left: 55%;">№ 1543-5</span>
        </div>
        <div style="margin-left: 10%;text-align: center; margin-right: 10%">
            <span style="font-size: 15px;">г. Челябинск</span>
        </div>
        <div style="margin-left: 15%; margin-top: 10%">
            <span>О зачислении на 1 курс</span><br/><br/>
            <br/>ПРИКАЗЫВАЮ:<br/><br/>
            Зачислить с 01 сентября 2022 года в ФГБОУ ВО "Челябинский
            государственный университет" на 1 курс очной формы обучения
            математического факультета на обучение за счет бюджетных ассигнований
            федерального бюджета
            <br/>
            по основной профессиональной образовательной программе направления подготовки 01.03.02 Прикладная математика и информатика
            <br/>
            - по общему конкурсу:
            <br/>
            ТУТ ДОЛЖНЫ БЫТЬ ФИО

            <br/><br/><br/><br/><br/><br/><br/><br/><br/>Ректор&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;С.В. Таскаев
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- style="font-family: firefly, DejaVu Sans, sans-serif;" -->
{% endblock %}