{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<style>
    .container {
        margin-top: 5%;
    }
</style>
<div class="container">
    <h1>{{student.getLastName()}} {{student.getFirstName()}} {{ student.getGroupNumber() }}</h1>
{#    <form action="{{ path('logout') }}" method="post">#}
{#        <button class="btn btn-primary" type="submit">logout</button>#}
{#            </form>#}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Номер приказа</th>
                    <th scope="col">Приказ</th>
                    <th scope="col">Печать</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
</div>
{% endblock %}
